.header {
	margin-top: 38px;

	&>.container>.row {
		display: flex;

		&>.logo {
			& a {
				display: flex;
			}

			.logo-img {
				margin-right: -10px;
			}
		}

		.nav {
			margin-left: 52px;
		}

		.nav>.menu {
			display: flex;
			font-size: 24px;
			font-weight: 900;
			line-height: 28px;
			text-transform: uppercase;

			& .active {
				color: var(--accent);
			}

			&>li:not(:first-child) {
				margin-left: 60px;

				& a {
					transition: color 0.2s ease-in;

					&:hover {
						color: var(--hover);
					}
				}
			}
		}

	}
}